.Banner_TvShow{
    background-image: url(https://wallpaperaccess.com/full/1407784.jpg);
    height: 700px;
    width: 100%;
    object-fit: contain;
    object-position: 35%  75%;
    margin-top: 5%;
    background-repeat: no-repeat;
    position: relative;
    
}
 .Text_TvShow{
    z-index: 1;
    color: white;
    text-align: center;
    margin:  auto;
    position: absolute;
    top: 35%;
    left: 5%;
    
    
}
.lorem_TvShow{
    position: absolute;
    margin: auto;
    text-align: left;
    margin-top: -20px;
    font-size: 19px;
}
.Heading_TvShow{
    font-size: 60px;
    font-family: sans-serif; 
    text-align: left;
  }